/* header */
@import '../base/variables';

header {
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;

    .nav--index {
        background-color: #f6fbfe;
    }

    nav {

        .container-fluid {
            .header-logo {
                width: 19rem;
                height: auto;
                margin: 1rem;
            }

            div {
                .nav-ul {
                    text-transform: uppercase;

                    a {
                        padding-right: 2rem;
                        font-family: $font-primaria;
                        font-size: 2rem;
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: #000;
                            font-weight: 900;
                        }
                    }
                }

                .login-cont {
                    width: 20rem;
                    margin: 1rem 1rem 1rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .login {
                        font-family: $font-primaria;
                        font-size: 1.8rem !important;
                        text-align: center;
                        text-decoration: none;
                        color: black;

                        &:hover {
                            background-color: $color-dark;
                            border-radius: 0.5rem;
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}