@import '../base/variables';
@import '../base/breakpoints';
@import '../base/mixin';

/*Selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*importo fuente*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

/* Fuente a 10px */

html {
    font-size: 62.5%;
    @include laptop{
        font-size: 55%;
    }
    @include mobile{
        font-size: 50%;
    }
}

/* Botones */

.button {
    background-color: black;
    color: white;
    border: none;
    padding: 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    cursor: pointer;
    @include tablet{
        margin-bottom: 3rem;
    }
    &:hover{
        background-color: $color-primario;
    }
}

.button--short {
    margin-top: 1rem;
}

.button-line {
    font-family: $font-primaria;
    color: white;
    border: solid 0.3rem white;
    padding: 1.2rem 3rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1rem;
    margin-top: 5rem;
    text-align: center;
    &:hover{
        background-color: $color-secundario;
        color: black;
        border: none;
    }
}

input {
    border: 0;
    width: 25rem;
    height: auto;
    font-size: 2rem;
    padding: 0.5rem;
}

.buscador {
    display: flex;
    align-content: center;
    background-color: white;
    border: 0;
    border-radius: 20rem;
    width: 60rem;
    height: 4rem;
    margin-top: 4rem;
    @include tablet{
        width: 42rem;
        margin-top: 0;
    }
    @include mobile{
        width: 20rem;
        margin-top: 0;
    }
}

.lupa {
    width: auto;
    height: 3rem;
    padding: 1rem 1rem 0 1rem;
}

.buscar {
    border: none;
    width: 90%;
    height: auto;
    outline: none;
    padding-left: 1rem;
    @include tablet{
        width: 80%;
    }
    @include mobile{
        width: 70%;
    }
}

/* textos generales */

.seccion-p {
    @include textos(2rem, 150, white);
    font-family: $font-primaria;
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    & span{
        font-weight: bold;
    }
    &--dark{
        color: black;
    }
    a{
        text-decoration: none;
        color: black;
    }
}

.top-h2 {
    font-family: $font-primaria;
    @include textos(6rem, 700, white);
    text-align: center;
    margin-bottom: 1rem;
    &--blue{
        color: $color-dark;
    }
}

.top-p {
    @include textos(2rem, 150, black);
    font-family: $font-primaria;
    text-align: center;
    line-height: 2;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 60%;
    &--white{
        color: white;
    }
}

.seccion-h2 {
    font-family: $font-primaria;
    @include textos(3rem, 700, $color-dark);
    padding-bottom: 2rem;
}

.seccion-h4 {
    font-family: $font-primaria;
    @include textos(3rem, 700, $color-dark);
    margin-bottom: 10px;
}

h3{
    font-family: $font-primaria;
    font-size: 2.5rem;
    font-weight: 600;

}

h6 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    grid-column-start: span 2;
}

.texto-izq {
    width: 60%;
    padding: 3rem 5rem;
    min-width: 350px;
}

.texto-der {
    width: 60%;
    padding: 3rem 5rem;
    float: right;
    min-width: 350px;
}